@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

li {
  list-style: none;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  padding: 0;
}

.header, .footer, .left-links, .right-links {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #eeeeee;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-links a, .right-links a {
  text-decoration: none;
  color: #666;
}

.left-links, .right-links, .content {
  gap: 16px;
}

.left-links {
  margin-left: 16px;
}

.right-links {
  margin-right: 16px;
}

.buttons button {
  padding: 8px 16px;
}
